APP_NAME="Realworld API"
APP_ENV=local
APP_URL=http://localhost:3000
APP_PORT=3000
APP_DEBUG=true
APP_LOG_LEVEL=debug
DB_HOST=realworld_db
DB_PORT=5432
DB_USERNAME=realworld_user
DB_PASSWORD=Aa@123456
DB_NAME=realworld_db
JWT_SECRET=your_jwt_secret
